<div class="settings">
	<a href="#" class="btn btn-dark settings-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings">
		{% include ui/icon.html icon="settings" %}
		Settings
	</a>

	<form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings" data-bs-theme="dark">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title">Theme Builder</h2>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="mb-4">
				<label class="form-label">Primary color</label>
				<input type="color" class="form-control form-control-color" value="#206bc4" name="settings-primary" id="settings-theme-color" />
			</div>
			<div class="mb-4">
				<label class="form-label">Color scheme</label>
				<p class="form-hint">The perfect color mode for your app.</p>

				<div class="row g-2">
					{% assign schemes = 'light,mixed,colored,dark,transparent' | split: ',' %}
					{% for scheme in schemes %}
					<div class="col-6">
						<label class="form-selectgroup-item">
							<input type="radio" name="settings-theme" value="{{ scheme }}" class="form-selectgroup-input" />
							<div class="form-selectgroup-label text-center">
								<span class="form-selectgroup-check form-selectgroup-check-floated"></span>
								<div class="settings-scheme settings-scheme-{{ scheme }}"></div>
								<div>{{ scheme | capitalize }}</div>
							</div>
						</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="offcanvas-footer">
			<button type="submit" class="btn btn-primary w-100">
				{% include ui/icon.html icon="settings" %}
				Save settings
			</button>
		</div>
	</form>
</div>
