//
// Settings
//
.settings-btn {
  position: fixed;
  left: -1px;
  top: 50%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: $box-shadow;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: top left;
}

.settings-scheme {
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: relative;
  border: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
    var(--#{$prefix}border-color);
  box-shadow: $box-shadow;

  &-light {
    background: linear-gradient(135deg, $white 50%, $light 50%);
  }

  &-mixed {
    background-image: linear-gradient(135deg, $dark 50%, #fff 50%);
  }

  &-transparent {
    background: $light;
  }

  &-dark {
    background: $dark;
  }
  
  &-colored {
    background-image: linear-gradient(
      135deg,
      var(--#{$prefix}primary) 50%,
      $light 50%
    );
  }
}
